<tr id='category_<%=no %>'>
	<td><%=no %></td>
	<td><%=name %></td>
	<td><%=posted %></td>
	<td><%=description %></td>
	<td>
		<img id="img-delete" src="<%=pageContext %>/assets/images/delete.jpg" data-no='<%=no %>'>
	</td>
</tr>